html {
    font-size: 0.5vw;
}

sup {
    font-size: 0.5vw;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;}

.body-back {background-color: rgba(27, 124, 124, 0.5)}

.row {
    height: 4%;
    width: 98%;
    content: table;
    clear: both;
    padding: 0.1%;
}

.cell {
    width: 5.33%;
    height: 100%;
    float: left;
    margin-left: 0.1%;
    position: relative;
}
.empty {
    border: none;
}
sup {
    text-align: right;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 0.5vw;
}